.profile-container{
	width: 100%;
	height: 100%;
}
.profile-head{
	width: 100%;
	height: 11vw;
	position: relative;
}
.profile-avatar{
	height: 7vw;
	width: 7vw;
	margin: 2vw 3vw;
	float: left;
	background-color: gray;
	border-radius: 50%;
	border:0.1vw solid white;
	box-shadow: 0 0 1vw gray;
	position: relative;
	z-index: 2;
}
.profile-ava:hover{
	opacity: 0.5;
	cursor: pointer;
}
.profile-ava{
	height: 100%;
	width: 100%;
	border-radius: 50%;	
}
.profile-info{
	width: 70%;
	height: 100%;
	position: relative;
	float: left;
}
.profile-content{
	position: relative;
}
.nav-head{
	height: 50%;
	width: 100%;
	position: relative;
	z-index: 2;
}
.profile-nav{
	width: 100%;
	height: 100%;
	margin-bottom: 0;

}
.profile-navigation{
	display: flex;
	justify-content: left;
	margin: 0 2vw;
	padding:0;
	width: 100%;
	height: 100%; 	
}
.information{
	height: 100%;
	width: 18%;
	text-align: center;
	position: relative;
	margin-bottom: 0;
	display: block;
	font-size: 1.5vw;
	color: gray;
	margin-right: 2vw;
	font-family: 'Cormorant Unicase', serif;	
}
.information:hover{
	cursor: pointer;
	background-color: gray;
	color: white;
	border-radius: 1vw 1vw 0vw 0vw;
	transition: 0.5s;
}
.active{
	color: black;
	border-bottom: solid 2px gray;
}
hr{
	margin: 0 2vw;
}
.short-info{
	text-align: left;
	width: auto;
	height: auto;
	color: #313839;
	position: relative;
}
.name{
		margin-top: 2vw;
	font-size: 2vw;
}
.add-info{
		margin-top: 0.8vw;
	font-size: 1.5vw;

}
.personal{
	width: 100%;
	height: 100%;
	position: relative;
}
.personal-info{
	margin: 1vw 2vw;	
	height: auto;
	position: relative;
	width: 94%;
	font-size: 1.5vw;
}
.about{
	display: block;
}
.photos{
	width: 92%;
	display: none;
}
.photo{
	height: 100%;
	width: 100%;
}
.photo-container{
	height: 10vw;
	width: 10vw;
	padding: 0.5vw;
	background-color: #fff;
	border: 1px solid silver;
	margin: 0.2vw;
	
}
.photos_container{
	width: 100%;
	height: 13vw;
	display: flex;
	justify-content: space-around;
}
.clearfix{
    clear:both;
    content: '';
    display: table;
}
.dob{
	position: absolute;
	width: 8vw;
	height: auto;
	text-align: center;
	right: 0;
	top: 0;
}
.day{
	font-size: 3.5vw;
}
.month{
	font-family:  'Cinzel Decorative', cursive;
}
.year{

}

