.profile-container{
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
.profile-head{
	width: 100%;
	height: 11vw;
	position: relative;
}
.profile-avatar{
	height: 7vw;
	width: 7vw;
	margin: 2vw 3vw;
	float: left;
	background-color: gray;
	border-radius: 50%;
	border:2px solid white;
	box-shadow: 0 0 1vw gray;
	position: relative;
	z-index: 2;
}
.ava{
	height: 100%;
	width: 100%;	
}
.profile-info{
	width: 80%;
	height: 100%;
	position: relative;
	left: 20%;
	text-align: left;	
}
.profile-content{
	position: relative;
}
.nav-head{
	height: 50%;
	width: 100%;
	position: relative;
	z-index: 2;
}
.profile-nav{
	width: 100%;
	height: 100%;
	margin-bottom: 0;

}
.profile-navigation{
	display: flex;
	justify-content: left;
	margin: 0 2vw;
	padding:0;
	width: 100%;
	height: 100%; 	
}
.information{
	height: 100%;
	width: 18%;
	text-align: center;
	position: relative;
	margin-bottom: 0;
	display: block;
	font-size: 1.5vw;
	color: gray;
	margin-right: 2vw;
	font-family: 'Cormorant Unicase', serif;	
}
.information:hover{
	cursor: pointer;
	background-color: gray;
	color: white;
	border-radius: 1vw 1vw 0vw 0vw;
	transition: 0.5s;
}
.active{
	color: black;
	border-bottom: solid 2px red;
}
hr{
	margin: 0 2vw;
}
.name{
	text-align: left;
	width: 100%;
	height: 100%;
}
.personal{
	width: 100%;
	height: 100%;
	position: relative;
}
.personal-info{
	margin: 1vw 2vw;	
	height: 100%;
	position: absolute;
	width: 100%;
}
.about{
	display: none;
}
.photos{
	overflow: hidden;
}
.photo{
	height: 100%;
	width: 100%;
}
.photo-container{
	height: 10vw;
	width: 10vw;
	float: left;
	padding: 1vw;
}
.photos_container{
	width: auto;
	height: 100%;
	overflow-x: scroll;
}

