.modal input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}
#error-messagebox{
	color:red;
	width: 80%;
	font-size: 1vw;
	margin-top: 2vw;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
	margin-top:10px;
}

.container {
    padding: 10px;
    width: 70%;
	height: 100%;
	margin:2vw auto;
	padding: 2vw;
	position: relative;
	border-radius: 5vw;
	box-shadow: 0 0 2vw rgb(0,0,6);
	text-align: center;
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/vertical_cloth.png");
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    padding-top: 60px;
    box-sizing: border-box;
}

/* Modal Content/Box */
.modal-content {
     
    margin: 1% auto 15% auto; /* 1% from the top, 15% from the bottom and centered */
    
    width: 25vw;
     /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 800px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .modal-content{
    	width: 80%;
    }

    .logo:hover{
		transform: translateY(-5px);
		transition: 1s;
    }
 

}

.contitle{
    width: 30%;
    margin: 0 auto;
    height: 3vw;
    padding:1vw;
    border-radius: 2vw;

}
.contitle-name{
    font-size: 2vw;
    font-family: Lobster;
    color: #00C67C;
}
.reg-form{
    width: 70%;
    height: 700px;
    margin:2vw auto;
    padding: 2vw;
    position: relative;
    background-color: rgb(255,255,255,0.1);
    border-radius: 5vw;
    box-shadow: 0 0 2vw rgb(0,0,6);
    text-align: center;
}
.form{
    width: 100%;
    height: 100%;
}
.input-field{
    width: 100%;
    height: 2vw;
    position: relative;
    margin-top: 4vw;
}
.form-label{
    position: absolute;
    top:0;
    left: 0;
    font-size: 1.3vw;
    font-family: Lobster;
    padding-top: 0.7vw; 
    color:lightgray;
    transition: 0.7s;
    pointer-events: none;
    padding-left: 0.3vw;
}
.input-field input[type=text], input[type=password], .select-inp{
    box-sizing: border-box;
    height: 3vw;
    width: 94%;
    border:none;
    border-bottom: 2px solid #05F59B;
    padding: 1vw 0;
    font-size: 1.3vw;
    outline: none;
    color:#00C67C;
    margin: 0;
    float: left;
}
input[type=text]:focus,input[type=password]:focus + .hint-label{
    
}
.input-field input:valid ~ label,
.input-field input:focus ~ label{
    top:-2.5vw;
    color: #05F59B;
    font-size: 1vw;
}
.input-field select:valid ~ label,
.input-field select:focus ~ label{
    top:-2.5vw;
    color: #05F59B;
    font-size: 1vw;
}
.reg-inp, .select-inp{
    background-color: #545D6A;
    border-radius: 0.7vw;
}

.submit-form{
    position: relative;
    width: 100%;
    height: 2vw;

}
.buton {
    position: relative;
    background-color: #00C67C;
    margin-top: 3vw;
    width: auto;
    border-radius: 0.7vw;
    font-family: Lobster;
    font-size: 1.3vw;
    height: 3.5vw;
    padding: 0 2vw; 
}

#emsg{
    color: red;
    display: none;
    text-align: center;
    width: 94%;
    font-size: 1.3vw;
    margin-top: 2vw;
    font-family: Lobster;
}
.error_form{
    position: relative;
    height: 3.5vw; 
    width: 2vw;
    float: right;
    text-align: right;

}
.tooltip_right {
    text-align: right;
    position: relative;
    float: right;
    width: auto;
}
.tooltip_wrong {
    text-align: right;
    position: relative;
    float: right;
    width: auto;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_wrong .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_wrong:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    
}
.fa{
    margin-top:0.4vw;
}