html{
	height: 100%;
	width: 100%;
}
body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-image: url(../img/bg.jpg);
	height: 100%;
	width: 100%;
}
hr{
	width: 90%;
}
a.nav-link{
	text-decoration:none;
	color: lightgray;

}
button{
	outline: none;
	border:none;
	cursor: pointer;
}
.wrapper{
	width: 80%;
	height: 90% auto;
	margin:0 auto;
	background-color: rgb(255,255,255,0.2);
	margin-top:5%;
	padding:0.6vw;
	
}
.header{
	z-index: 1;
	width:100%;
	height: 6vw;
	position: relative;
	padding: 0;

}
.logo{
	
	width: 30%;
	height: 11.5vw;
	position: absolute;
	bottom: -1vw;
	transform: rotate(-5deg);
	z-index: 1;
	transition: 1s;
	box-shadow: 1vw 1vw 1vw rgba(0,0,0,0.6);
}
.logo:hover{
	transform: translateY(-10px);
	transition: 1s;
}
.logo-name{
	font-size: 3.8vw;
	position: absolute;
	top:0;
	color:lightgray;
	left:20%;
	font-weight: bold;
	font-family:  'Cinzel Decorative', cursive;
	text-align: center;
}
.logo-name:hover{
	color:white;
}
.heads{
	float: right;
	height: 50%;
	width: 65%;
	position: relative;
}
.navbar{
	width: 100%;
	height: 100%;
	background-color: #393C42;
	margin-bottom: 0;
	
}
.nav{
	display: flex;
	justify-content: space-around;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%; 	
}	
.nav-item{
	height: 100%;
	width: 18%;
	text-align: center;
	position: relative;
	margin-bottom: 0;
	display: block;
}
.nav-item:hover{
	background-color: lightgray;
}
.nav-link{
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%); 
	font-size: 1.5vw;
}
.nav-item:hover .nav-link{
	color:#393C42;
}
#main-note{
	color: #f1f1f1;
	text-align: center;
	position: absolute;
	top: 25%;
	font-size: 1.5vw;
	font-family: 'Cormorant Unicase', serif;
}
#main-note:hover{

}
/*   content fhdnsaiuoooooooooooooooooooooooo      */
.grid-container {
	margin: 0 auto;
	width: 100%;
 	display: grid;
	grid-template-columns: 70% 30%;
  	grid-gap: 0;
  	z-index: 2;
  	grid-row: 1/5;
  	position: relative;

}
.content{
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/shl.png);
	box-shadow: 1vw 1vw 1vw rgba(0,0,0,0.6);
	position: relative;
	min-height:300px; 
	height: auto;
	z-index: 2;
	width: 100%;
}
.additional{
	background: #393C42;
	padding-right: 1.5vw;
	padding-left: 1.5vw;
	min-height:300px; 
	text-decoration: none;
	width: 87.4%;

}

/*    Authorizhation fdsafidsfsadbfosad   */

/* Full-width input fields */

/*   NNENENWNENWENWENnewnns  */

.center{
	position: absolute;
	top:50%;
	left: 34%;
	transform: translate(-50%,-50%);
}


.icon{
	
	margin-right: 1vw;
	height: 5vw;
	width:5vw;
}
.icons{
	text-align: center;
	margin-top: 1vw;
}



